USE [master]
GO
/****** Object:  Database [QuanLyPhongNet]    Script Date: 05/11/2021 9:54:41 CH ******/
CREATE DATABASE [QuanLyPhongNet]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyPhongNet', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\QuanLyPhongNet.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QuanLyPhongNet_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\QuanLyPhongNet_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyPhongNet].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyPhongNet]
GO
/****** Object:  Table [dbo].[DangNhapGame]    Script Date: 05/11/2021 9:54:41 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DangNhapGame](
	[TÊN TÀI KHOẢN] [nchar](10) NULL,
	[NHÓM MÁY] [nchar](10) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DoAn]    Script Date: 05/11/2021 9:54:41 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DoAn](
	[MÃ MÓN ĂN] [nchar](10) NOT NULL,
	[TÊN MÓN ĂN] [nchar](50) NULL,
	[GIÁ MÓN ĂN] [int] NULL,
 CONSTRAINT [PK_DoAn] PRIMARY KEY CLUSTERED 
(
	[MÃ MÓN ĂN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LichSuMua]    Script Date: 05/11/2021 9:54:41 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichSuMua](
	[TÊN TÀI KHOẢN] [nchar](10) NULL,
	[NHÓM MÁY] [nchar](10) NULL,
	[MUA] [nchar](10) NULL,
	[GIÁ] [int] NULL,
	[GHI CHÚ] [nvarchar](50) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Login]    Script Date: 05/11/2021 9:54:41 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Login](
	[TaiKhoan] [nchar](10) NULL,
	[MatKhau] [nvarchar](50) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NguoiChoiVIP]    Script Date: 05/11/2021 9:54:41 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiChoiVIP](
	[TÊN TÀI KHOẢN] [nchar](10) NOT NULL,
	[MẬT KHẨU] [nchar](10) NULL,
	[TIỀN NẠP] [int] NULL,
	[TIỀN CÒN LẠI] [int] NULL,
	[SỐ GIỜ CHƠI CÒN LẠI] [int] NULL,
	[TRẠNG THÁI] [nchar](10) NULL,
	[KÍCH HOẠT] [nchar](10) NULL,
 CONSTRAINT [PK_NguoiChoi] PRIMARY KEY CLUSTERED 
(
	[TÊN TÀI KHOẢN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NhomMay]    Script Date: 05/11/2021 9:54:41 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhomMay](
	[NHÓM MÁY] [nchar](10) NOT NULL,
	[TRẠNG THÁI] [nchar](10) NULL,
	[GHI CHÚ] [nchar](50) NULL,
 CONSTRAINT [PK_NhomMay] PRIMARY KEY CLUSTERED 
(
	[NHÓM MÁY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NuocUong]    Script Date: 05/11/2021 9:54:41 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NuocUong](
	[MÃ NƯỚC] [nchar](10) NOT NULL,
	[TÊN NƯỚC ] [nvarchar](50) NULL,
	[GIÁ NƯỚC] [int] NULL,
 CONSTRAINT [PK_NuocUong] PRIMARY KEY CLUSTERED 
(
	[MÃ NƯỚC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TheCao]    Script Date: 05/11/2021 9:54:41 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TheCao](
	[SERI] [nchar](10) NOT NULL,
	[SỐ THẺ] [nchar](10) NULL,
	[MỆNH GIÁ] [int] NULL,
 CONSTRAINT [PK_TheCao] PRIMARY KEY CLUSTERED 
(
	[SERI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TinhTien]    Script Date: 05/11/2021 9:54:41 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TinhTien](
	[MÃ ĐƠN] [nchar](10) NOT NULL,
	[SỐ GIỜ CHƠI] [int] NULL,
	[NHÓM MÁY] [nchar](10) NULL,
	[TỔNG TIỀN] [int] NULL,
 CONSTRAINT [PK_TinhTien] PRIMARY KEY CLUSTERED 
(
	[MÃ ĐƠN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[DangNhapGame]  WITH CHECK ADD  CONSTRAINT [FK_DangNhapGame_NguoiChoiVIP] FOREIGN KEY([TÊN TÀI KHOẢN])
REFERENCES [dbo].[NguoiChoiVIP] ([TÊN TÀI KHOẢN])
GO
ALTER TABLE [dbo].[DangNhapGame] CHECK CONSTRAINT [FK_DangNhapGame_NguoiChoiVIP]
GO
ALTER TABLE [dbo].[DangNhapGame]  WITH CHECK ADD  CONSTRAINT [FK_DangNhapGame_NhomMay] FOREIGN KEY([NHÓM MÁY])
REFERENCES [dbo].[NhomMay] ([NHÓM MÁY])
GO
ALTER TABLE [dbo].[DangNhapGame] CHECK CONSTRAINT [FK_DangNhapGame_NhomMay]
GO
ALTER TABLE [dbo].[LichSuMua]  WITH CHECK ADD  CONSTRAINT [FK_LichSuMua_NhomMay] FOREIGN KEY([NHÓM MÁY])
REFERENCES [dbo].[NhomMay] ([NHÓM MÁY])
GO
ALTER TABLE [dbo].[LichSuMua] CHECK CONSTRAINT [FK_LichSuMua_NhomMay]
GO
ALTER TABLE [dbo].[TinhTien]  WITH CHECK ADD  CONSTRAINT [FK_TinhTien_NhomMay] FOREIGN KEY([NHÓM MÁY])
REFERENCES [dbo].[NhomMay] ([NHÓM MÁY])
GO
ALTER TABLE [dbo].[TinhTien] CHECK CONSTRAINT [FK_TinhTien_NhomMay]
GO
USE [master]
GO
